* {
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #7979d8; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    list-style: none;
    height: 40px; }
    @media screen and (max-width: 700px) and (min-width: 400px) {
      .navbar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 200px; } }
  .navbar li {
    width: 20%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .navbar a {
    padding: 12px;
    color: white;
    text-decoration: none; }
    .navbar a:hover {
      background-color: #9191df; }

.image-container {
  position: relative; }
  .image-container span {
    position: absolute;
    top: 70px;
    right: 500px;
    color: white;
    font-size: 30px; }
    @media screen and (max-width: 700px) {
      .image-container span {
        right: 150px; } }

.travels {
  margin-top: -4px;
  background-color: #7979d8;
  color: silver;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .travels .travel {
    width: 33.33333%;
    border: 1px solid silver;
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    margin: 10px; }
    .travels .travel a {
      color: white;
      text-decoration: none;
      position: relative;
      bottom: 0px;
      left: 0px; }
      .travels .travel a:hover {
        color: #d8d879;
        -webkit-text-decoration: #d8d879 underline;
        text-decoration: #d8d879 underline; }
    @media screen and (max-width: 700px) and (min-width: 400px) {
      .travels .travel img {
        height: 150px; } }
    .travels .travel h2 {
      color: lightgreen;
      text-align: center;
      margin: 5px auto; }

.container {
  text-align: center;
  color: limegreen;
  background-color: #7979d8;
  font-size: 30px;
  margin-top: -4px;
  padding-top: 30px;
  padding-bottom: 30px; }

.bottom {
  background-color: rgba(7, 3, 3, 0.664);
  color: white; }
  .bottom h2, .bottom p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
    padding-left: 300px; }
    @media screen and (max-width: 700px) {
      .bottom h2, .bottom p {
        margin-left: -120px; } }
