$deepBlue: rgb(121, 121, 216);
$linkColor: white;
@mixin travelStyle {
    width:(100%/3);
    border: 1px solid silver;
    font-size: 20px;
   text-align: justify;
   padding: 10px;
   margin: 10px;
  
   a{
       color: white;
       text-decoration: none;
       position: relative;
       bottom: 0px;
       left: 0px;
       
        &:hover{
            color: complement($deepBlue);
            text-decoration: complement($deepBlue) underline;
        }     
        
    }

   }//end travelStyle

   @mixin mQ($arg...){
       @if length($arg)==1{
        @media screen and (max-width:nth($arg,1)){
            @content;
        }
       }
     
   
   @if length($arg)==2{
    @media screen and (max-width:nth($arg,1)) and (min-width:nth($arg,2)) {
        @content;
    }

}
   }
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:$deepBlue;
    ul{
         display: flex;
        align-items: center;
        text-align: center;
        font-size: 15px;
        list-style: none;
        height: 40px;
        @include mQ(700px,400px){
            flex-direction: column;
            height: 200px;
          
        }
    }
    li{
       
        width: (100%/5);
        flex-grow: 1;
       
    }
    a{
        padding: 12px;
        color: $linkColor;
        text-decoration: none;
        &:hover{
            background-color: lighten($deepBlue,6);
        }
       
    }
}

.image-container{
    position: relative;
    span{
        position: absolute;
        top: 70px;
        right: 500px;
        color: white;
        font-size: 30px;
        @include mQ(700px){
            right: 150px;
        }
    }
}
.travels{ 
    margin-top: -4px;
    background-color: $deepBlue;
    color: silver;
    font-size: 40px;
    display: flex;
    position: relative;
    .travel{
        @include travelStyle()
       
        @include mQ(700px,400px){
           img{
               height: 150px;
           } 
        }  
       
       h2{
           color:lightgreen;
           text-align: center;
           margin: 5px auto;
       }
        
    }
}
.container{
    text-align: center;
    color: limegreen;
    background-color: $deepBlue;
    font-size: 30px;
    margin-top: -4px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.bottom{
    background-color: rgba(7, 3, 3, 0.664);
    color: white;
    
    h2,p{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        width: 50%;
        padding-left: 300px;
        @include mQ(700px){
            margin-left: -120px;
        }
    }
   
}

   
       
   
